/* GLOBAL */
body {
    background-color: #fff;
}

table {
    white-space: nowrap;
}

.list-style-none {
    list-style: none;
}

.footer-brand {
    font-size: 1.8rem !important;
}

/* FONTS */

@font-face {
    font-family: 'Nunito-Regular';
    src: url('/asset/main/fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Nunito-SemiBold';
    src: url('/asset/main/fonts/Nunito/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url('/asset/main/fonts/Nunito/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'Nunito-Black';
    src: url('/asset/main/fonts/Nunito/Nunito-Black.ttf');
}

@font-face {
    font-family: 'Nunito-ExtraBold';
    src: url('/asset/main/fonts/Nunito/Nunito-ExtraBold.ttf');
}

/* WELCOME.BLADE.PHP STYLES */

.full-height {
    width: 100%;
    height: 100vh;
    background: url('/asset/main/images/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.center-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content {
    text-align: center;
}

.title {
    display: block;
    text-align: center;
    font-size: calc(43px + (65 - 43) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Nunito-Bold';
    padding: 15px;
    background: #8509a1;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7) !important;
}

.title .about-title-next {
    display: none !important;
}

.title .about-title:hover {
    display: none;
}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    color: #fff;
    background: #8509a1;
    padding: 10px 25px;
    margin: 0 10px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 20px;
    transition: all .3s ease;
}

.links a:hover {
    color: #8509a1;
    background: #fff;
    cursor: pointer;
}

.m-bm-vsm {
    margin-bottom: -20px;
}

/* APP.BLADE.PHP */

.application {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    /*
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    */
    overflow: hidden;
}

/* KUSTOM NAVBAR BOOTSTRAP, GANTI PADDING TOP SM BOTTOM */

#kustom-nav {
    padding-top: 1.07rem;
    padding-bottom: 1.07rem;
}

.app-nav {
    background: #8142b8;
}

/* kustom brand */

#kustom-nav .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

/* BURGER */

.menu-icon {
    position: relative;
    width: 55px;
    right: 0;
    padding: 0.25rem 0.75rem;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 1;
    order: 2;
    transition: all 0.5s ease;
}

.menu-icon:hover {
    transform: scale(1.2);
}

.menu-icon.clicked {
    opacity: 0;
    right: -290px;
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 4px;
    margin: 6px 0;
    background: #fff;
}

.menu-icon.icon-b span {
    display: block;
    width: 100%;
    height: 4px;
    margin: 6px 0;
    background: #fff;
    /*
    background: rgba(0, 0, 0, 0.75);
    */
}

.navbar-toggler {
    position: relative;
    opacity: 1;
    right: 0;
    transition: all 0.5s ease;
}

.navbar-toggler.clicked {
    position: relative;
    right: -290px;
    opacity: 0;
}

.navbar-toggler:focus {
    outline: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -330px;
    width: 310px;
    height: 100vh;
    background: #370755;
    padding-top: 20px;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0) !important;
    transition: all .5s ease;
    overflow: auto;
    z-index: 1030;
}

.sidebar .logo {
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    font-size: 2.2rem;
    font-weight: bold;
}

.sidebar .menu {
    padding: 20px 0;
    user-select: none;
}

.sidebar .menu:nth-child(2) {
    padding-top: 95px;
}

.close-icon {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 50px;
    padding: 4px 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .5s ease;
}

.close-icon:hover {
    transform: scale(1.2);
}

.close-icon span {
    display: block;
    width: 100%;
    height: 4px;
    margin: 6px 0;
    background: #fff;
}

.close-icon span:nth-child(1) {
    transform: rotate(45deg);
}

.close-icon span:nth-child(2) {
    margin-top: -10px;
    transform: rotate(-45deg);
}

.sidebar ul {
    padding: 0;
    margin-bottom: 0;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1rem;
    letter-spacing: .1rem;
    border-bottom: 2px solid #200332;
    transition: all .5s ease;
}

.sidebar ul li a:hover {
    color: #370755;
    background: #fff;
    border-bottom: 2px solid transparent;
}

.sidebar ul li a.active {
    background: #26013b;
    pointer-events: none;
}

.sidebar ul li a.active:hover {
    color: #fff;
}

.sidebar.clicked {
    left: 0;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.75) !important;
}

/* GO TO TOP ICON */

/* gotop animation */

@keyframes slideInUp {
    from {
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.go-top {
    position: fixed;
    bottom: 30px;
    right: 2%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 0.35rem 0.5rem;
    cursor: pointer;
    transition: all .5s ease;
    line-height: 1.4rem;
    animation-duration: .38s;
    animation-fill-mode: both;
    animation-name: slideInUp;
    z-index: 10;
}

.go-top span {
    display: block;
}

.go-top:hover {
    transform: translateY(-5px);
}


/* KUSTOM BOOTSTRAP */

.jumbotron-custom {
    height: 210px;
}

.text-white-custom {
    color: #fff !important;
}

.color-white {
    color: #fff !important;
}

.breaker {
    flex-basis: 0;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
}

.no-select {
    -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}

.bg-icons {
    width: 100%;
    height: 100%;
    opacity: .17;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    background-image: url('/asset/main/images/jumbotronicons.png');
}

.card.card-shadow {
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.1), 4px 4px 14px 0 rgba(0, 0, 0, 0.09);
    transition: all .5s ease;
}

.card.card-shadow:hover {
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.2), 8px 8px 18px 0 rgba(0, 0, 0, 0.19);
}

.card ul {
    padding: 0;
    margin: 0;
}

.card ul li {
    list-style: none;
}

.card a {
    text-decoration: none;
}

.card a.courses:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: ""; 
    display: block;
    width: 0;
    border-bottom: 8px solid rgba(59, 178, 226, 1);
    transition: all .5s ease;
}

.card:hover a.courses:after {
    width: 100%;
}

.card ul li {
    display: inline-block;
    padding: 0.25rem 0.5rem 0.25rem 0;
    margin: 0 0.15rem;
    border-radius: 5px;
    transition: all .5s ease;
}

.card ul li a {
    display: block;
    color: #fff;
}

.card ul li a:after {
    content: "";
    display: inline-block;
    width: 0;
    border-bottom: none;
}

.card:hover ul li a:after {
    width: 0;
}

.form-control.cstm {
    width: auto !important;
}

div.dataTables_wrapper div.dataTables_length select {
    width: auto !important;
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_length label {
    /* font-weight: bold !important; */
    font-size: .85rem;
}

div.dataTables_wrapper div.dataTables_filter label {
    /* font-weight: bold !important; */
    font-size: .85rem;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 10px !important;
    /* font-weight: bold !important; */
    font-size: .85rem;
}

.page-item .page-link, .page-item span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.65rem 1rem !important;
    margin: 0 3px;
    border-radius: 6px !important;
    width: auto !important;
    height: auto !important;
    font-size: 0.875rem
}

.pagination {
    justify-content: flex-end !important;
    padding-top: 5px !important;
}

table.dataTable thead .sorting_asc:after {
    content: "\f15e" !important;
}

table.dataTable thead .sorting_desc:after {
    content: "\f881" !important;
}

table.dataTable thead .sorting:after {
    content: "\f0dc" !important;
}

table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 13px !important;
    right: 8px;
    display: block;
    font-family: "Font Awesome 5 Free" !important; 
    font-weight: 900 !important;
    opacity: 0.5;
}

/* KUSTOM ARGON */ 

.mt--custom {
    margin-top: -13.5rem !important;
}

.form-control:not([type="date"]):not([readonly]) {
    color: #495057 !important;
}

/* BURGER */
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0) !important;
}

.navbar-toggler {
    font-size: 1.6rem;
}

/* INPUT & BUTTON */
#search-form.form-inline {
    flex-wrap: nowrap;
    order: 1;
}

input.form-control.srch-input {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

button.btn.srch-button {
    font-size: 1rem;
    border: none;
    color: #fff;
    background: rgba(59, 178, 226, 1);
    transition: all .5s ease;
}

button.btn.srch-button:hover {
    background: rgba(14, 153, 247, 1);
}

/* global style */

.section-divider {
    padding: 4em 0;
}

.p-navbar {
    padding-top: 80px !important;
}

@media (max-width: 767px) {
    .text-white-custom {
        color: #3d3d3d !important;
    }
    .pagination {
        justify-content: center !important;
        padding-top: 5px !important;
    }
}

@media (max-width: 575px) {
    /* .jumbotron-custom {
        height: 148px;
    } */

    .p-navbar {
        padding-top: 124px !important;
    }

    .menu-icon {
        order: 1;
    }

    #search-form.form-inline {
        order: 2;
        flex-basis: 100%;
    }
}

/* PAGE KAMPUS, IFRAME */

.iframe-wrapper {
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    position: relative;
}

.iframe-kampus {
    /* buat ilangin scroll pake width 101.1%, parentnya 'iframe-wrapper' di overflow hidden */
    width: 100%;
    height: 100%;
}