/* @extend display-flex; */

display-flex, .display-flex, .display-flex-center, .signup-content, .signin-content, .forgot-password-content, .social-login, .socials {
  display: flex;
  display: -webkit-flex;
}

/* @extend list-type-ulli; */

list-type-ulli, .socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main {
  padding-top: 38px;
  padding-bottom: 20px;
}

.clear {
  clear: both;
}

.container-reg {
  width: 65%;
  margin: 0 auto;
  
}

.signin-content, .signup-content, .forgot-password-content {
  background: #fff;
/*   box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px; */
}

.display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.signup-content {
  padding: 75px 0;
}

.signup-form, .signup-image, .signin-form, .signin-image, .forgot-password-image, .forgot-password-form {
  width: 50%;
  text-align: center;
  overflow: hidden;
}

.signup-form, .signin-form, .forgot-password-form > .invalid-feedback {
  text-align: left;
}

.signup-image {
  margin: 0 55px;
}

.form-title {
  margin-bottom: 33px;
}

.signup-image {
  margin-top: 45px;
}

figure {
  margin-bottom: 50px;
  text-align: center;
}

.form-submit {
  display: inline-block;
  background: #3490dc;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.form-submit:hover {
  background: #227dc7;
}

.form-check-input:checked {
  background: rgba(59, 178, 226, 1);
  color: #fff;
}

#signin {
  margin-top: 16px;
}

.signup-image-link {
  font-size: 14px;
  /*color: #222;*/
  text-decoration: none;
  display: inline-block;
  transition: all .3s ease;
}

.term-service {
  font-size: 13px;
  color: #222;
}

.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}

.register-form {
  width: 100%;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.form-group:last-child {
  margin-bottom: 0px;
}

input.regsubmit {
  width: auto;
  display: inline-block;
  border: none !important;
  padding: 6px 30px !important;
  font-family: Poppins;
  box-sizing: border-box;
}

input.reg {
  width: 100%;
  display: block;
  border: none !important;
  border-bottom: 1px solid #999 !important;
  border-radius: 0 !important;
  padding: 6px 30px !important;
  font-family: Poppins;
  box-sizing: border-box;
}

select.reg {
  width: 100%;
  display: block;
  border: none !important;
  border-bottom: 1px solid #999 !important;
  border-radius: 0 !important;
  padding: 6px 30px !important;
  font-family: Poppins;
  color: #999;
  box-sizing: border-box;
}

input.reg::-webkit-input-placeholder {
  color: #999;
}

input.reg::-moz-placeholder {
  color: #999;
}

input.reg:-ms-input-placeholder {
  color: #999;
}

input.reg:-moz-placeholder {
  color: #999;
}

input.reg:focus {
  border-bottom: 1px solid #222 !important;
}

input.reg:focus::-webkit-input-placeholder {
  color: #222;
}

input.reg:focus::-moz-placeholder {
  color: #222;
}

input.reg:focus:-ms-input-placeholder {
  color: #222;
}

input.reg:focus:-moz-placeholder {
  color: #222;
}

input.reg[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none;
}

input.reg[type=checkbox]:not(old)+label {
  display: inline-block;
  line-height: 1.5em;
  margin-top: 6px;
}

input.reg[type=checkbox]:not(old)+label>span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  margin-bottom: 5px;
  border: 1px solid #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: white;
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  vertical-align: bottom;
}

input.reg[type=checkbox]:not(old):checked+label>span {
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
}

input.reg[type=checkbox]:not(old):checked+label>span:before {
  content: '\f26b';
  display: block;
  color: #222;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: bold;
}

.agree-term {
  display: inline-block;
  width: auto;
}

 label.reg {
  position: absolute;
  left: 0;
  font-size: 15px;
  margin-top: 10px;
  color: #222;
}

.label-agree-term {
  position: relative;
  top: 0;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
}

.material-icons-name {
  font-size: 18px;
}

.signin-content {
  padding-top: 67px;
  padding-bottom: 87px;
  padding-left: 40px;
  padding-right: 40px;
}

.social-login {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  margin-top: 80px;
}

.social-label {
  display: inline-block;
  margin-right: 15px;
}

.socials li {
  padding: 5px;
}

.socials li:last-child {
  margin-right: 0px;
}

.socials li a {
  text-decoration: none;
}

.socials li a i {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.socials li:hover a i {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
}

.zmdi-facebook {
  background: #3b5998;
}

.zmdi-twitter {
  background: #1da0f2;
}

.zmdi-google {
  background: #e72734;
}

.signin-form {
  padding-right: 40px;
}

.signin-image {
  margin-top: 10px;
}

.forgot-password-content {
  padding: 67px 40px 10px 40px;
}

.forgot-password-image {
  margin-top: -20px;
}

@media screen and (max-width: 1200px) {
  .container-reg {
    width: 75%;
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .container-reg {
    width: 85%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .container-reg {
    max-width: 1200px;
  }
}

@media screen and (max-width: 768px) {
  .container-reg {
    width: 90%;
    max-width: 100%;
  }
  .signup-content, .signin-content, .forgot-password-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }
  .signup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    /* box-sizing: border-box; */
    padding: 0 30px;
  }
  .signin-image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2;
  }
  .forgot-password-image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2;
  }
  .signup-form, .signup-image, .signin-form, .signin-image, .forgot-password-image, .forgot-password-form {
    width: auto;
  }
  .social-login {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }
  .form-button {
    text-align: center;
  }
  .signin-form {
    order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px;
  }
  .forgot-password-form {
    order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px;
  }
  .form-title {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .form-submit {
    margin-right: 0;
    margin-bottom: 0.3125rem;
  }
  .social-login {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
  }
  .social-label {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */